name: Run Jest Tests

on: [push, pull_request]

env:
  CHILD_CONCURRENCY: 1
  NODE_ENV: test

jobs:
  tests-run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.19.0]
    steps:
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node-version }}
      - name: Checkout
        uses: actions/checkout@v2

      # run unit tests
      - name: Run Jest Unit Tests
        run: yarn test


#  upload-to-codecov:
#    needs: [tests-run]
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#      - name: Download artifacts
#        uses: actions/download-artifact@v2
#      - name: Upload coverage to Codecov
#        uses: codecov/codecov-action@v2
